@import "vars"
.staking-sdk
  .stake-btn, .unstake-btn, .open-calculator-btn
    font: 500 16px/16px var(--everstakeFont)
    letter-spacing: .75px
    border-radius: 4px
    text-align: center
  .stake-btn
    width: 100%
    color: var(--everstakeColorAccent)
    background-color: var(--everstakeButtonStackeBackground)
    padding: 12px
  .open-calculator-btn
    width: 100%
    color: var(--everstakeColorPrimary)
    background-color: var(--everstakeButtonOpenCalculatorBackground)

    padding: 12px
  .unstake-btn
    min-width: 98px
    color: var(--everstakeColorAccent)
    background-color: var(--everstakeButtonUnstackeBackground)
    padding: 8px
