@import "vars"
.staking-sdk
  .stake-btn, .unstake-btn, .open-calculator-btn, .accent__btn
    position: relative
    font: 500 16px/16px var(--everstakeFont)
    letter-spacing: .75px
    border-radius: 4px
    text-align: center
    transition: background-color .25s, opacity .25s, color .25s
    &:after
      content: ''
      position: absolute
      top: -3px
      left: -3px
      width: calc(100% + 6px)
      height: calc(100% + 6px)
      box-shadow: none
      transition: box-shadow .25s
      pointer-events: none
    &:focus
      outline: none
    &.focus-visible
      &:after
        box-shadow: 0 0 0 2px rgba(var(--everstakeFocusColor), 1)
    &[disabled]
      cursor: default

  .stake-btn
    width: 100%
    color: rgba(var(--everstakeColorAccent), 1)
    background-color: rgba(var(--everstakeColorPrimary), .95)
    padding: 12px
    &:hover, &:active
      opacity: .9

  .open-calculator-btn
    width: 100%
    color: rgba(var(--everstakeColorPrimary), 1)
    background-color: rgba(var(--everstakeColorPrimary), .15)
    padding: 12px
    &:hover, &:active
      background-color: rgba(var(--everstakeColorPrimary), .3)
    &[disabled]
      background-color: rgba(var(--everstakeColorPrimary), .15)
      color: rgba(var(--everstakeColorPrimary), .3)

  .unstake-btn
    min-width: 98px
    color: rgba(var(--everstakeColorAccent), 1)
    background-color: rgba(var(--everstakeColorAccent), .1)
    padding: 8px
    &:hover, &:active
      background-color: rgba(var(--everstakeColorAccent), .2)
    &[disabled]
      color: rgba(var(--everstakeColorAccent), .3)
      background-color: rgba(var(--everstakeColorAccent), .1)

  .accent__btn
    width: 100%
    color: rgba(var(--everstakeColorPrimary), 1)
    background-color: rgba(var(--everstakeColorAccent), 1)
    padding: 19px 16px
    &:hover, &:active
      opacity: .8
    &[disabled]
      opacity: .3

  .icon-btn
    position: relative
    transition: opacity .25s
    &:hover, &:active
      opacity: .75
    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      box-shadow: none
      transition: box-shadow .25s
      pointer-events: none
    &:focus
      outline: none
    &.focus-visible
      &:after
        box-shadow: 0 0 0 2px rgba(var(--everstakeFocusColor), 1)
