@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap')
\:root
  --everstakeFont: 'Roboto', sans-serif

  //#ffffff
  --everstakeColorPrimary: 255, 255, 255
  //#C4C4C4
  --everstakeColorPrimaryDark: 196, 196, 196
  //#000000
  --everstakeColorAccent: 0, 0, 0
  //#ffffff
  --everstakeWindowBackground: var(--everstakeColorPrimary)
  //##1D1D1D
  --everstakeDetailsHeaderBg: 29, 29, 29
  //#0094FF
  --everstakeFocusColor: 0, 148, 255

// my-mixins

=size($size)
  width: $size
  height: $size

=clipping_text()
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

=square()
  &:after
    content: ""
    display: block
    padding-top: 100%

=placeholder()
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content

=media($size)
  @media screen and (max-width: $size+px)
    @content

=large()
  @media screen and (max-width: 1400px)
    @content

=medium()
  @media screen and (max-width: 992px)
    @content

=small()
  @media screen and (max-width: 768px)
    @content

=extra_small()
  @media screen and (max-width: 576px)
    @content
