@import "../../sass/vars"
.staking-sdk
  .coin-details
    display: flex
    flex-direction: column
    height: 100%
    &__header
      background-color: rgba(var(--everstakeDetailsHeaderBg), 1)
      color: rgba(var(--everstakeColorPrimary), 1)
    &__top
      padding: 16px
      display: flex
      align-items: center
      .back-btn
        padding: 4px
        font-size: 0
        margin-right: 32px
      .info-btn
        padding: 2px
        font-size: 0
        margin-left: auto
    &__info
      padding: 12px 16px 24px
      .info-block
        display: flex
        margin-bottom: 24px
        &__icon
          +size(54px)
          margin-right: 16px
        &__title
          font: 400 24px/28px var(--everstakeFont)
          color: rgba(var(--everstakeColorPrimary), .87)
          margin-bottom: 3px
        &__bottom
          display: flex
        &__item
          font: 500 14px/24px var(--everstakeFont)
          color: rgba(var(--everstakeColorPrimary), .6)
          &:first-child
            margin-right: 24px
          span
            color: rgba(var(--everstakeColorPrimary), .87)
    &__actions
      display: flex
      justify-content: space-between
    &__action
      width: calc(50% - 4px)
    &__body
      flex: 1
      overflow: auto
      .about
        padding: 16px
        color: rgba(var(--everstakeColorAccent), 1)
        &__title
          margin-bottom: 8px
        &__text
          font: 400 14px/20px var(--everstakeFont)
          letter-spacing: .15px
    &__error
      padding: 16px 16px 0
